/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header {
    .ham-menu {
      right: 5vw !important;
      .text-menu {
        display: none;
      }
    }
    .logo {
      img {
        width: 30vw !important;
      }
    }
  }
  .content {
    .intro {
      .text-intro {
        width: 75vw !important;
        .show-h1 {
          font-size: 6vw !important;
          line-height: 10vw;
        }
      }
      .text-marquee {
        margin-left: -4vw !important;
      }
    }
    .what {
      .what-content {
        padding: 50px 0px;
        padding-top: 80px;
        .title-what {
          height: 10vh !important;
        }
        h1 {
          font-size: 2.2rem !important;
        }
        .padding-p {
          padding: 50px 30px;
          p {
            line-height: 25px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .why {
      .why-content {
        padding: 50px 0px;
        padding-top: 80px;
        .title-why {
          height: 10vh !important;
        }
        h1 {
          font-size: 2.2rem !important;
        }
        .padding-p {
          padding: 50px 30px;
          p {
            line-height: 25px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .our-client {
      .owl-panel-item {
        width: 50vw !important;
        &.regular {
          .mask {
            width: 50vw !important;
            .banner {
              width: 50vw !important;
            }
            &:hover {
              .top {
                width: 50vw !important;
              }
              .bottom {
                width: 50vw !important;
              }
            }
            label {
              &.foot {
                font-size: 0.22rem !important;
              }
            }
          }
          &.selected {
            width: 95vw !important;
          }
          .narrative {
            width: 95vw !important;
            .left-content {
              width: 50vw !important;
              padding: 3vh 4vw 0 4vw;
              .reason {
                font-size: 0.6rem;
                line-height: 1.8;
              }
            }
            .right-content {
              width: 55vw !important;
              .top {
                padding-right: 2vw !important;
                padding-left: 2vw !important;
                padding-top: 3vw !important;
                width: 55vw !important;

                .list-projects {
                  span {
                    font-size: 0.5rem;
                  }
                }
              }
            }
          }
        }
        &.title {
          padding: 0 3.5vw;
        }
      }
    }
    .location {
      .flex-fix {
        justify-content: center !important;
        padding-right: 0 !important;
        padding-bottom: 50px;
      }
      .flex-content {
        justify-content: center;
        h1 {
          font-size: 3.3rem !important;
          text-align: center;
        }
        .address {
          font-size: 0.8rem !important;
          text-align: center;
        }
      }
    }
    .contact-us {
      .contact {
        width: 200vw !important;
        left: -100vw !important;
        &.selected {
          left: 0 !important;
        }
      }
      .jobs {
        top: 100vh !important;
        width: 200vw !important;
        right: -100vw !important;
        &.selected {
          right: 0 !important;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 650px) {
  .header {
    .ham-menu {
      right: 2.5vw !important;
      .text-menu {
        display: none;
      }
    }
    .logo {
      img {
        width: 20vw !important;
      }
    }
  }
  .content {
    .intro {
      .text-intro {
        width: 75vw !important;
        .show-h1 {
          font-size: 6vw !important;
          line-height: 8vw;
        }
      }
      .text-marquee {
        margin-left: -4vw !important;
      }
    }
    .what {
      .what-content {
        padding: 50px 0px;
        padding-top: 80px;
        .title-what {
          height: 10vh !important;
        }
        h1 {
          font-size: 2.5rem !important;
        }
        .padding-p {
          p {
            line-height: 30px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .why {
      .why-content {
        padding: 50px 0px;
        padding-top: 80px;
        .title-why {
          height: 10vh !important;
        }
        h1 {
          font-size: 2.5rem !important;
        }
        .padding-p {
          p {
            line-height: 30px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .our-client {
      .owl-panel-item {
        width: 35vw !important;
        &.regular {
          .mask {
            width: 35vw !important;
            .banner {
              width: 35vw !important;
            }
            &:hover {
              .top {
                width: 35vw !important;
              }
              .bottom {
                width: 35vw !important;
              }
            }
            label {
              &.foot {
                font-size: 0.52rem;
              }
            }
          }
          &.selected {
            width: 85vw !important;
          }
          .narrative {
            width: 85vw !important;
            .left-content {
              width: 35vw !important;
              .reason {
                font-size: 0.7rem;
                line-height: 1.8;
              }
            }
            .right-content {
              width: 50vw !important;
              .top {
                padding-right: 2vw !important;
                padding-left: 2vw !important;
                padding-top: 3vw !important;
                width: 50vw !important;
              }
            }
          }
        }
        &.title {
          padding: 0 2vw;
        }
      }
    }
    .location {
      .flex-fix {
        justify-content: center !important;
        padding-right: 0 !important;
        padding-bottom: 50px;
      }
      .flex-content {
        justify-content: center;
        h1 {
          text-align: center;
        }
        .address {
          font-size: 1rem !important;
          text-align: center;
        }
      }
    }
    .contact-us {
      .contact {
        width: 200vw !important;
        left: -100vw !important;
        &.selected {
          left: 0 !important;
        }
      }
      .jobs {
        top: 100vh !important;
        width: 200vw !important;
        right: -100vw !important;
        &.selected {
          right: 0 !important;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 650px) and (max-device-width: 768px) {
  .header {
    .ham-menu {
      right: 1.5vw !important;
      .text-menu {
        display: none;
      }
    }
    .logo {
      img {
        width: 18vw !important;
      }
    }
  }
  .content {
    .intro {
      .text-intro {
        width: 75vw !important;
        .show-h1 {
          font-size: 6vw !important;
          line-height: normal;
        }
      }
      .text-marquee {
        margin-left: -4vw !important;
      }
    }
    .what {
      .what-content {
        padding: 50px 0px;
        padding-top: 80px;
        .title-what {
          height: 10vh !important;
        }
        h1 {
          font-size: 2.5rem !important;
        }
        .padding-p {
          p {
            line-height: 30px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .why {
      .why-content {
        padding: 50px 0px;
        padding-top: 80px;
        .title-why {
          height: 10vh !important;
        }
        h1 {
          font-size: 2.5rem !important;
        }
        .padding-p {
          p {
            line-height: 30px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .our-client {
      .owl-panel-item {
        width: 25vw !important;
        &.regular {
          .mask {
            width: 25vw !important;
            .banner {
              width: 25vw !important;
            }
            &:hover {
              .top {
                width: 25vw !important;
              }
              .bottom {
                width: 25vw !important;
              }
            }
            label {
              &.foot {
                font-size: 0.52rem;
              }
            }
          }
          &.selected {
            width: 57vw !important;
          }
          .narrative {
            width: 57vw !important;
            .left-content {
              width: 25vw !important;
            }
            .right-content {
              width: 32vw !important;
              .top {
                padding-right: 1.5vw !important;
                padding-left: 1.5vw !important;
                padding-top: 2vw !important;
                width: 32vw !important;
              }
            }
          }
        }
      }
    }
    .location {
      .flex-fix {
        justify-content: center !important;
        padding-right: 0 !important;
        padding-bottom: 50px;
      }
      .flex-content {
        justify-content: center;
        h1 {
          text-align: center;
        }
        .address {
          font-size: 1rem !important;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 970px) {
  .header {
    .logo {
      img {
        width: 15vw !important;
      }
    }
  }
  .content {
    .intro {
      .text-intro {
        width: 75vw !important;
        .show-h1 {
          font-size: 2.8rem !important;
        }
      }
      .text-marquee {
        margin-left: -4vw !important;
      }
    }
    .what {
      .what-content {
        padding: 50px 0px;
        h1 {
          font-size: 2.8rem !important;
        }
        .padding-p {
          p {
            line-height: 30px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .why {
      .why-content {
        padding: 50px 0px;
        h1 {
          font-size: 2.8rem !important;
        }
        .padding-p {
          p {
            line-height: 30px !important;
            letter-spacing: 1px !important;
            font-size: 0.8rem !important;
          }
        }
      }
    }
    .our-client {
      .owl-panel-item {
        width: 23vw !important;
        &.regular {
          .mask {
            width: 23vw !important;
            .banner {
              width: 23vw !important;
            }
            &:hover {
              .top {
                width: 23vw !important;
              }
              .bottom {
                width: 23vw !important;
              }
            }
            label {
              &.foot {
                font-size: 0.52rem;
              }
            }
          }
          &.selected {
            width: 55vw !important;
          }
          .narrative {
            width: 55vw !important;
            .left-content {
              width: 23vw !important;
            }
            .right-content {
              width: 32vw !important;
              .top {
                padding-right: 1.5vw !important;
                padding-left: 1.5vw !important;
                padding-top: 2vw !important;
                width: 32vw !important;
              }
            }
          }
        }
      }
    }
    .location {
      .address {
        font-size: 1rem !important;
      }
    }
  }
}

@media only screen and (min-device-width: 970px) and (max-device-width: 1024px) {
  .header {
    .logo {
      img {
        width: 13vw !important;
      }
    }
  }
  .content {
    .intro {
      .text-intro {
        width: 65vw !important;
        .show-h1 {
          font-size: 3.2rem !important;
        }
      }
      .text-marquee {
        margin-left: -5vw !important;
      }
    }
    .what {
      .what-content {
        padding: 50px 30px;
        h1 {
          font-size: 3rem !important;
        }
      }
    }
    .why {
      .why-content {
        padding: 50px 30px;
        h1 {
          font-size: 3rem !important;
        }
      }
    }
    .our-client {
      .owl-panel-item {
        width: 18vw !important;
        &.regular {
          .mask {
            width: 18vw !important;
            .banner {
              width: 18vw !important;
            }
            &:hover {
              .top {
                width: 18vw !important;
              }
              .bottom {
                width: 18vw !important;
              }
            }
            label {
              &.foot {
                font-size: 0.52rem;
              }
            }
          }
          &.selected {
            width: 45vw !important;
          }
          .narrative {
            width: 45vw !important;
            .left-content {
              width: 18vw !important;
            }
            .right-content {
              width: 27vw !important;
              .top {
                width: 27vw !important;
              }
            }
          }
        }
      }
    }
    .location {
      .address {
        font-size: 1rem !important;
      }
    }
  }
}
