/* components */
@import "components/index";

/* custom */
@import "owl-carousel/index";

/* pages */
@import "pages/index";

/* universal */
@import "buttons";
@import "responsive";

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  /* font-family: 'Staatliches', cursive; */
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.content {
  width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.filter-white {
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  padding: 8vh 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  margin: 0;
}
