.content .intro {
  width: 100vw;
  height: 100vh;
  background-color: #282828;
}

.content .intro .intro-content {
  /* background: rgba(255, 255, 255, 0.493); */
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* font-family: "Staatliches", cursive; */
}

.content .intro .intro-content .text-intro h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

.content .intro .intro-content .text-intro .show-h1 {
  margin: -14px 0;
  /* margin-left: 100px; */
  z-index: 3;
  transition: opacity 1s ease-out;
}

.content .intro .intro-content .text-intro .text-marquee {
  width: 30vw;
  margin-left: -5vw;
  margin-bottom: 2px;
  /* color: rgb(10, 128, 207); */
  color: rgb(226, 67, 7);
  pointer-events: none;
}

.content .intro .intro-content .text-intro .text-marquee .slick-slide {
  height: 10vh;
}

.content .what {
  width: 100vw;
  height: 150vh;
}

.content .what .what-content {
  width: 100vw;
  height: 150vh;
  color: #fff;
  padding: 100px 200px;
  /* font-family: "Staatliches", cursive; */
}

.content .what .what-content .title-what {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .what .what-content .no-margin {
  margin: 0;
}

.content .what .what-content .no-margin h1 {
  font-weight: 900;
  margin: -8px 0;
  padding: 0;
  font-size: 3rem;
}

.content .what .what-content .padding-p {
  padding: 50px;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 1rem;
}

.content .our-work {
  background-image: url("../../images/background/our-work-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content .why {
  width: 100vw;
  height: 117vh;
}

.content .yt-background {
  width: 100vw;
  height: 117vh;
  position: absolute;
  z-index: -1;
}

.content .why .why-content {
  width: 100vw;
  height: 117vh;
  color: #fff;
  background: rgba(226, 67, 7, 0.7);
  padding: 3rem 0;
}

.content .why .why-content .title-why {
  display: flex;
  align-items: center;
}

.content .why .why-content .no-margin {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .why .why-content .no-margin h1 {
  font-weight: 900;
  margin: -8px 0;
  padding: 0;
  font-size: 3rem;
}

.content .why .why-content .padding-p {
  padding: 50px;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.content .our-team {
  background-image: url("../../images/background/our-engineer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content .location {
  width: 100vw;
  height: 120vh;
}

.content .location-content {
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 120vh;
  color: #282828;
  padding: 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .location-content .flex-fix {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.content .location-content .flex-fix .square {
  height: 180px;
  width: 180px;
  background: linear-gradient(45deg, #e83f25, #e03e20 50%, #ae301b);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .location-content .flex-fix .square h2 {
  color: #fff;
  font-weight: 900;
  margin-bottom: -12px;
}

.content .location-content .item-loc {
  display: flex;
  cursor: pointer;
  margin: -10px 0;
}

.content .location-content .item-loc .mask {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.content .location-content .item-loc .layer {
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: opacity 0.5s ease;
}

.content .location-content .item-loc .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .location-content .item-loc .left .expand-plus {
  width: 25px;
  height: 25px;
}

.content .location-content .item-loc .left i {
  font-size: 2rem;
}

.content .location-content .item-loc .right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3vw;
}

.content .location-content .item-loc .right h1 {
  color: rgb(226, 67, 7);
  font-weight: 900;
  font-size: 5.7rem;
  margin: 0;
  line-height: 1;
}

.content .location-content .item-loc .right .address {
  color: #282828;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 15vw;
  margin: 0;
}

.content .location-content .item-loc:hover {
  filter: brightness(90%);
}

.content .location-content .item-loc.selected .mask {
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.content .location-content .item-loc.selected .layer {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.content .contact-us {
  height: 100vh;
}

.content .contact-us h2 {
  color: #fff;
  font-weight: 900;
  margin-bottom: -12px;
}

.content .contact-us h3 {
  color: #fff;
  font-weight: 900;
  margin-bottom: -10px;
}

.content .contact-us .overlay-orange {
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(202, 58, 5, 0.75), rgba(151, 43, 4, 0.75));
}

.content .contact-us .overlay-maroon {
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(117, 35, 5, 0.95), rgba(44, 13, 1, 0.95));
}

.content .contact-us .flex-fix {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .contact-us .flex-fix .square {
  height: 12rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: box-shadow 0.25s, transform 0.25s ease;
  cursor: pointer;
}

.content .contact-us .flex-fix .square.yellow {
  background: linear-gradient(45deg, #e8e525, #f1e423 50%, #aea41b);
}

.content .contact-us .flex-fix .square.sia {
  background: linear-gradient(45deg, #6bb78e, #63db9b 50%, #408b63);
}

.content .contact-us .flex-fix .square:hover {
  transform: scale(1.05);
  box-shadow: 1.2rem 1.5rem 5rem 0 rgba(0, 0, 0, 0.25);
}

.content .contact-us .contact {
  position: absolute;
  left: -50%;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/background/contact-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  transition: left 0.5s ease;
}

.content .contact-us .contact.selected {
  left: 0;
}

.content .contact-us .contact.close {
  left: -100%;
}

.content .contact-us .contact .btn-close {
  position: absolute;
  font-size: 2rem;
  top: 3vh;
  right: 3vw;
  cursor: pointer;
}

.content .contact-us .contact .top,
.content .contact-us .contact .bottom {
  margin: 7vh 0;
}

.content .contact-us .contact .bottom form .dropdown .dropdown-menu {
  border-radius: 0;
}

.content .contact-us .contact .bottom form .btn-submit {
  border-radius: 0;
  padding: 0.6rem 1rem;
}

.contact .contact-us .bottom form input[type="email"],
form .dropdown .btn,
form input[type="text"],
form textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-size: inherit;
  border-radius: 0;
  background: hsla(0, 0%, 100%, 0.3);
  color: #fff;
  outline: none;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  padding: 0.5rem 1rem;
}

.contact .contact-us .bottom form input[type="email"]::placeholder,
form input[type="text"]::placeholder,
form textarea::placeholder {
  color: rgb(195, 195, 195);
}

.contact .contact-us .bottom form input[type="email"]:focus,
form input[type="text"]:focus,
form textarea:focus {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  font-size: inherit;
  border-radius: 0;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.3);
  outline: none;
  border: 1px solid transparent;
  transition: border 0.25s ease;
  padding: 0.5rem 1rem;
}

.content .contact-us .join {
  position: absolute;
  right: -50%;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/background/join-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  transition: right 0.5s ease;
}

.content .contact-us .join.selected {
  right: 0;
}

.content .contact-us .join.close {
  right: -101%;
}

.content .contact-us .join .btn-close {
  position: absolute;
  font-size: 2rem;
  top: 3vh;
  left: 3vw;
  cursor: pointer;
}

.content .contact-us .join .top,
.content .contact-us .join .bottom {
  margin: 7vh 0;
  padding: 0 5vw;
}

.content .contact-us .join .bottom a {
  color: #fff;
  text-decoration: none;
}

.content .contact-us .join .bottom .btn-more {
  border-radius: 0;
  padding: 0.4rem 1rem;
}
