.owl-panel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  height: 70vh;
  width: 14vw;
  margin: 3rem 0.65rem;
  box-shadow: 12px 15px 51px 0px rgba(0, 0, 0, 0.65);
  border-radius: 2px;
}

.owl-panel-item.regular {
  display: flex;
  flex-direction: column;
}

.owl-panel-item.regular > * {
  cursor: pointer;
}

.owl-panel-item.regular .plus {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.owl-panel-item.regular > .plus > .button-expand {
  width: 25px !important;
  height: 25px;
  margin: 10px;
  z-index: 5;
}

.owl-panel-item.regular > label.foot {
  width: 100%;
  height: auto;
  font-size: 0.62rem;
  font-weight: 500;
  padding: 0.6rem;
  text-transform: uppercase;
  background-color: #282828;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 0 0 2px 2px;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.owl-panel-item.regular:hover > label.foot {
  opacity: 0;
}

.owl-panel-item.regular > label,
h2 {
  opacity: 0;
}

.owl-panel-item.regular:hover > label,
h2 {
  opacity: 1;
}

.owl-panel-item.regular .banner {
  opacity: 0;
  position: absolute;
  background-color: rgba(40, 40, 40, 0.9);
  height: 0;
  width: 14vw;
  color: #fff;
  transition: height 0.5s ease;
}

.owl-panel-item.regular:hover .banner {
  height: 70vh;
  opacity: 1;
}

.owl-panel-item.regular:hover > .banner > .top {
  height: 35vh;
  width: 14vw;
  display: flex;
  align-items: flex-end;
}

.owl-panel-item.regular > .banner > .top > label {
  width: 100%;
  height: auto;
  font-size: 0.62rem;
  padding: 0.6rem;
  text-transform: uppercase;
  background-color: #fff;
  color: #282828;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.owl-panel-item.regular:hover > .banner > .top > label {
  opacity: 1;
}

.owl-panel-item.regular:hover > .banner > .top > label > i {
  line-height: 1.3 !important;
}

.owl-panel-item.regular:hover > .banner > .bottom {
  height: 35vh;
  width: 14vw;
  padding: 0 1.5vw;
  display: flex;
  align-items: center;
}

.owl-panel-item.regular > .banner > .bottom h2 {
  font-weight: 900;
  margin: -10px 0;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.owl-panel-item.regular:hover > .banner > .bottom h2 {
  opacity: 1;
}

.owl-panel-item.title {
  padding: 0 1.5vw;
  background-color: #282828;
  display: flex;
  align-items: center;
  color: #fff;
}

.owl-panel-item.title h2 {
  font-weight: 900;
  margin: -10px 0;
  letter-spacing: 2px;
}

/* our-team */

.owl-panel-item.regular.team > .banner-white {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.7);
  transition: flex-grow 0.5s ease;
}

.owl-panel-item.regular.team:hover > .banner-white {
  flex-grow: 0;
}

.owl-panel-item.regular.team > label.foot {
  background-color: rgb(105, 35, 35);
  color: #fff;
  font-weight: 700;
}

.owl-panel-item.regular.team > .banner-transparent {
  opacity: 0;
  position: absolute;
  background-color: transparent;
  height: 70vh;
  width: 14vw;
  color: #fff;
  transition: opacity 0.5s ease;
}
.owl-panel-item.regular.team:hover > .banner-transparent {
  opacity: 1;
}

.owl-panel-item.regular.team > .banner-transparent > .top {
  height: 50vh;
  width: 14vw;
  display: flex;
  align-items: flex-end;
}

.owl-panel-item.regular.team > .banner-transparent > .top > label {
  width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 0.62rem;
  padding: 0.6rem;
  text-transform: uppercase;
  background-color: #fff;
  color: #282828;
  display: flex;
  justify-content: flex-end;
}
.owl-panel-item.regular.team > .banner-transparent > .top > label > i {
  line-height: 1.3 !important;
}

.owl-panel-item.regular.team > .banner-transparent > .bottom {
  height: 20vh;
  width: 14vw;
  display: flex;
  align-items: center;
  padding: 0 1.5vw;
}

.owl-panel-item.regular.team > .banner-transparent > .bottom h5 {
  font-weight: 900;
  margin: -4px 0;
}

.owl-panel-item.regular.team:active {
  width: 35vw;
}

.owl-panel-item.title-team {
  padding: 0 1.5vw;
  background-color: rgb(105, 35, 35);
  display: flex;
  align-items: center;
  color: #fff;
}

.owl-panel-item.title-team h2 {
  font-weight: 900;
  margin: -10px 0;
  letter-spacing: 2px;
}
.owl-nav {
  position: absolute;
  top: 35vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 7;
}
